
.map-container{
  display: flex;
  flex-direction: row;
  justify-content: center;

}


.map {
  border: none;
  border-radius: 20px;
  background-color: #F9F4F4;
  color: #13131A;
  position: fixed;
  bottom: 0;
  transition: bottom .3s;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-bottom: 90px;
  width: 86px;
  height: 39px;
  font-weight: bold;
  padding: 11px 19px;

}